# Secrets
SECRET_KEY="A Secret Key"

# SQL Config
DB_SQL_HOST=postgres
DB_SQL_PORT=5432
DB_SQL_USER=postgres
DB_SQL_PASS=postgres
DB_DEFAULT_SQL_NAME=surge

# Cache Config
REDIS_FULL_HOST=redis:6379
REDIS_HOST=redis
REDIS_PORT=6379
#REDIS_USER
#REDIS_PASS

# Broker Config
CELERY_BROKER_HOST=redis
CELERY_BROKER_PORT=6379
#CELERY_BROKER_USER
#CELERY_BROKER_PASS

# ThirdParty
NOMINATIM_ADDRESS=http://nominatim.openstreetmap.org/reverse